/* @import "tailwindcss";

*,
*::before,
*::after{
  box-sizing:border-box
}

html,
body,
#root,
.app{
  height:100%;
  width:100%;
  @apply text-sm;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
}

  */


@import "tailwindcss";
@media (prefers-color-scheme: dark) {
  /* Remove or override any conflicting dark styles here */
  body {
    background-color: #fff !important; /* Overriding default background-color for dark mode */
  }
}


@media(min-width:768px){
  .custom-grid-rows{
    grid-template-rows:repeat(8,20vh);
  }
}

@media(min-width:1280){
  .custom-grid-rows{
    grid-template-rows:repeat(8,7.5vh);
  }
}

.lv-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, .75);
  z-index: 10;
  display: hidden;
}