/* @import "tailwindcss";

*,
*::before,
*::after{
  box-sizing:border-box
}

html,
body,
#root,
.app{
  height:100%;
  width:100%;
  @apply text-sm;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
}

  */


@import "tailwindcss";
@media (prefers-color-scheme: dark) {
  /* Remove or override any conflicting dark styles here */
  body {
    background-color: #fff !important; /* Overriding default background-color for dark mode */
  }
}
